<!doctype html>
<html lang="en">

<head>
    <title>Shopping Cart</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="Index.html">DASW</a>
        <div class="flex-grow-1">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control col-lg-10" type="text" placeholder="Encuentra la taza de tus sueños!">
                <button class="btn btn-outline-success col-lg-2" type="submit">Buscar</button>
            </form>
        </div>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"
                            aria-hidden="true"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#Login" data-toggle="modal">Login</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="Index.html"><i class="fas fa-home    "></i> <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="CorreoLogin">Correo</label>
                            <div class="input-group mb-3">
                                <div class="input-group-append col-md-10">
                                    <input type="text" name="CorreoLogin" id="CorreoLogin" class="form-control"
                                        placeholder="Ingresa tu correo electronico" aria-describedby="helpId">
                                    <span class="input-group-text" id="basic-addon1"> <i class="fa fa-user"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contraseNa">Contraseña</label>
                            <div class="input-group mb-3">
                                <div class="input-group-append col-md-10">
                                    <input type="password" name="contraseNa" id="contraseNa" class="form-control"
                                        placeholder="Ingresa tu contraseña" aria-describedby="helpId">
                                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-key"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls text-center">
                                    <button type="submit" class="btn btn-success col-md-10"
                                        data-dismiss="modal">Login</button>
                                </div>
                            </div>
                            <p>No tienes cuenta? <a href="#" data-dismiss="modal" data-toggle="modal"
                                    data-target="#registro">Registrate aqui!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Registro Modal -->
    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre"
                                    required>
                            </div>
                            <div class="col-6">
                                <input type="text" name="apellidos" id="apellido" class="form-control"
                                    placeholder="Apellidos" required>
                            </div>
                        </div>

                        <input type="email" name="email" id="email" class="form-control mt-3" placeholder="Correo"
                            required>
                        <input type="password" name="contraseña" id="contraseNa" class="form-control mt-3"
                            placeholder="Contraseña" required>
                        <input type="password" name="Confirmar-contraseña" id="ConfirmarContraseNa"
                            class="form-control mt-3" placeholder="Confirmar Contraseña" required>
                        <div class="input-group mt-3">
                            <input type="date" class="form-control" value="2000-01-01" name="fecha" id="fecha"
                                style="border-right: none">
                            <div class="input-group-append">
                                <span class="input-group-text bg-white" id="basic-addon3"><i class="fa fa-calendar"
                                        aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="text-center" style="margin-top: 5px;">
                            <button type="submit" class="btn btn-success col-md-10">Registrarse!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Titulo Resumen de Compra-->
    <header style="text-align: center;">
        <h2>Resumen de Compra</h2>
    </header>

    <div class="row">
        
    


    

    <!-- Tarjetas Shopping Cart-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="row">
                        <div class="card-body">
                            <h5 class="card-title">Taza Basica Blanca <i class="fa fa-trash" aria-hidden="true"></i></h5>
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Cantidad:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="">
                                <div class="input-group-append">
                                  <span class="input-group-text">Unidades</span>
                                </div>
                              </div>

                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Precio:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="" placeholder="10">
                                <div class="input-group-append">
                                  <span class="input-group-text">$m.n</span>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <img src="https://avanceytec.com.mx/modules/ajaxzoom/axZm/zoomLoad.php?azImg=/img/p/1/4/0/9/6/14096.jpg&qual=80&width=1200&height=800" height="150px" width="150px">
                        </div>
                        
                
                    </div>
                    
                </div>  
               
                <div class="card mb-3">
                    <div class="row">
                        <div class="card-body">
                            <h5 class="card-title">Taza de Construccion <i class="fa fa-trash" aria-hidden="true"></i></h5>
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Cantidad:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="">
                                <div class="input-group-append">
                                  <span class="input-group-text">Unidades</span>
                                </div>
                              </div>

                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Precio:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="" placeholder="20">
                                <div class="input-group-append">
                                  <span class="input-group-text">$m.n</span>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <img src="https://elnumerouno.com.mx/cdn/shop/products/189.jpg?v=1621342461&width=1946" height="150px" width="150px">
                        </div>
                        
                
                    </div>
                    
                </div>
                
            
            </div>

            <!-- Total de Compra-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total de Compra</h5>
                        <p class="card-text">Miel de Agave: 1 x 152.00</p>
                        <p class="card-text">Platano: 5 x 3.60</p>
                        <p class="card-text">Costo de envio: 30.00</p>
                        <p class="card-text">Monto a pagar: 200.00</p>
                        <button type="button" class="btn btn-outline-success col-md-12">Pagar</button>
                        <button type="button" class="btn btn-outline-danger col-md-12" style="margin-top: 2%;">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>